@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{

    display: flex;
    justify-content: center;
    align-items: center;



    background-image: url(img2/uchiha2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}

h1{
    font-family: 'Luckiest Guy', cursive;
    color: rgba(252, 10, 10, 0.849);
    font-size: 3.5em;
}


/* resumen  */ 

body{
    background-color: hwb(0 0% 100% / 0.897);
}


.conten{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: auto auto;
    height: auto auto;

}


.pel{
    width: 80%;
    height: 80%;
    background-color: hwb(0 0% 100% / 0.664);

    box-shadow: red 0px 0px 10px 1px inset,
                red 0px 0px 10px 1px;


    overflow: hidden;
     
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 50px;
    padding: 30px;
}


img{
    margin: 80px  20px;
    box-shadow: red 0px 0px 10px 1px inset,
            red 0px 0px 10px 1px;
}


.descri{
    text-align: center;
    margin: 3rem;
    color: white;
}

.descri h2{
    margin: 20px 10px;
    color: burlywood;
}


.descri p{
    text-align: center;
}


/*  video  */

.video{
    background-color: rgba(0, 0, 0, 0.438);
}

.sobre{
    display: flex;
    justify-items: center;
    justify-content: center;
}

video{
    width: 1080px;
    height: 500px;
    border: solid red 2px;
}

/* footer   */

footer{
    display: flex;
    justify-content: center;
    justify-items: center;


    
}

i img{
    box-shadow: none;
    padding: .2em .3em;
}

i img:hover{
    box-shadow: red 0px 0px 10px 1px inset,
    red 0px 0px 10px 1px;
    padding: .6em .8em;
}





@media (max-width:800px){


    h1{
        font-size: 35px;
    }


    .pel{
        display: flex;
        justify-content: space-evenly;
    }


    div img{
        width: 80px;
        height: 100px;
        display: flex;
        justify-items: center;
        margin: auto auto;
    }



    .descri{
        text-align: center;
        margin: auto auto;
        padding: auto auto;
        
    }

    .descri h1{
        font-size: 25px;
    }
    
    .descri h2{
        font-size: 15px;
        margin: auto auto;
        padding: auto auto;
    }
    
    
    .descri p{
        font-size: 10px;
        text-align: center;
        margin: auto auto;
        padding: auto auto;
    }

    video{
        width: 320px;
        height: 250px;
        border: solid red 2px;
    }

    footer{
        margin: auto;
        padding: auto;
    }
}